//
// user.scss
// Use this to write your custom SCSS
//
img{

  &.backbtn{
    width: 50px;
    z-index: 50;
    position: relative;
    top: 20px;
    left: 20px;

  }
  &.backbtn-resp{
    width: 30px;
    z-index: 50;
    position: relative;
    top: 20px;
    left: 20px;
  }
}

.nav-link{
  color: #575757 !important;
}

#btn-vibrant {
  cursor: pointer;
  animation: clickMe 500ms linear infinite alternate;
  transition: all 500ms linear;
}

#btn-vibrant:hover {
  color: #0e76a8;
  background-color: #ffffff;
  animation-name: none;
}
@keyframes clickMe {
  40% {
    transform: scale(1) rotate(0);
  }
  70% {
    transform: scale(1.02) rotate(-1deg);
  }
  100% {
    transform: scale(1.05) rotate(1deg);
  }
}
